@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";
.single{
    display: flex;
    gap: 50px;

    @include md{
        flex-direction: column;
    }

    .view{
        flex:1;

        .info{

            .topInfo{
                display: flex;
                gap: 20px;
                align-items: center;
                
                img{
                    height: 80px;
                    width: 80px;
                    border-radius: 20px;
                    object-fit: cover;
                }
                h1{
                    font-weight: 500;
                }

                button{
                    background-color: #f45b69;
                    padding: 10px;
                    border-radius: 10px;
                    color: white;
                }
            }

            .details{
                font-size: 18px;
                margin: 20px;

                .item{
                    margin: 15px 0px;

                    .itemTitle{
                        font-weight: 600;
                        margin-right: 10px;
                        text-transform: capitalize;
                    }
                }
            }
        }

        hr{
            border: 1px solid $soft-bg;
            width: 90%;
            margin: 20px 0px;
        }

        .chart{
            height: 350px;

        }
    }

    .activities{
        flex:1;

        h2{
            margin-bottom: 20px;
        }

        ul{
            li{
                list-style-type: none;
                position: relative;
                width: 1px;
                padding-top: 30px;
                background-color: #f45b69;

                &::after{
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #f45b69;
                    transform: translateX(-50%);
                }

                div{
                    min-width: 450px;
                    padding: 15px;
                    background-color: #f45b6910;

                    @include xl{
                        min-width: 350px;
                    }
                    @include lg{
                        min-width: 300px;
                    }

                    p{
                        margin-bottom: 5px;
                    }

                    time{
                        font-size: 12px;
                    }
                }
            }
        }


    }
}