.topDeals{
    

    h1{
        margin-bottom: 20px;
    }
    .list{
        max-height: 500px;
        overflow-y: scroll;

        .listItem{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            .user{
                display: flex;
                gap: 10px;

                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .userText{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    gap: 5px;

                    .username{
                        font-size: 14px;
                        font-weight: 500;

                    }

                    .email{
                        font-size: 12px;
                        
                    }
                }
            }
            
            .amount{
                font-weight: 500;

            }
        }
    }
}