.bigChartBox{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;

    .title{
        font-size: 20px;

    }

    .chart{
        display: flex;
        height: 300px;
        width: 100%;
    }
}